# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# RustFS
S3_BUCKET=
S3_REGION=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Gmail
MAIL_USERNAME=
MAIL_PASSWORD=