# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# AWS CloudFront
CLOUDFRONT_ORIGIN_VERIFICATION_ENABLED=
CLOUDFRONT_ORIGIN_VERIFY_SECRET=

# AWS S3
S3_BUCKET=
S3_REGION=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Gmail
MAIL_USERNAME=
MAIL_PASSWORD=

# Kakao
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
